[Unit]
Description=Timer: tw-stock evening_data_check

[Timer]
OnCalendar=Mon *-*-* 20:30:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
