[Unit]
Description=Timer: tw-stock weekly_corp_actions

[Timer]
OnCalendar=Sun *-*-* 00:30:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
